<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studios.codelight.smartloginlibrary" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".SmartLogin"
        android:label="@string/app_name">
        <activity
            android:name=".SmartLoginActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:theme="@style/AppTheme.LoginTheme"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <!--<meta-data android:name="com.facebook.sdk.ApplicationId"-->
            <!--android:value="@string/facebook_app_id"/>-->

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
    </application>

</manifest>